xset -b
xsetroot -solid black

# enable picom and backgrounds for i3
# this is now configured in the i3 config file
# [[ $DESKTOP_SESSION == "i3" ]] && picom -b

# configure X
xrdb ./.Xresources

# GTK Dark Theme
export GTK_THEME=Adwaita:dark
export GDK_USE_XFT=1
# enable redshift
nohup redshift & disown

# enable polkit
nohup pkttyagent & disown

# optimize desktop for monitor setup
# autorandr --change
./.screenlayout/main.sh

# vim: ft=sh
